<a href="https://colab.research.google.com/github/cascaschatz/Solar_PCL/blob/master/World_bank_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import os
cwd = os.getcwd()
print(cwd)
os.chdir("/content/gdrive/My Drive")

In [ ]:
import pandas as pd
df_worldbank = pd.read_excel(r'WDIEXCEL.xlsx', engine='openpyxl')

In [ ]:
df_worldbank.head()

In [ ]:
#exclude redundant columns 
df_worldbank=df_worldbank.loc[:, ~df_worldbank.columns.isin(['Country Code', 'Indicator Code'])]

In [ ]:
df_worldbank

In [ ]:
#Converte columns to rows

df_melt=pd.melt(df_worldbank, id_vars=['Country Name','Indicator Name'], value_vars=['1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],var_name='Year',value_name='Value')
df_melt

In [ ]:
#Converte rows to columns 

df_pivot=df_melt.pivot(index=['Country Name','Year'], columns='Indicator Name', values=['Value'])
df_pivot

In [ ]:
#Drop level to get one level of columns

df_pivot.columns = df_pivot.columns.droplevel()
df_pivot

In [ ]:
# Rename axis to remove Days which is our previous column name

modified_df=df_pivot.rename_axis(None,axis=1)
modified_df

In [ ]:
# Reset index to convert our indices to columns

modified_df=modified_df.reset_index()
modified_df

In [ ]:
modified_df.to_excel(r'world_bank.xlsx', index = False)

In [ ]:
modified_df.to_csv('/content/gdrive/My Drive/world_bank.csv',index = True)